graphics_project/.design_flow.lock1
graphics_project/vdir.mess
graphics_project/VHDL/graphics_top.vhd_
graphics_project/work/_info
graphics_project/work/_lib.qdb
graphics_project/work/_lib1_0.qdb
graphics_project/work/_lib1_0.qtl
graphics_project/work/_vmake
